[Desktop Entry]
Name=JMS
StartupWMClass=com.jim608.jms
Comment=Play your Jellyfin library and request media through Seerr.
Exec=jms
Icon=com.jim608.jms
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;
