[Desktop Entry]
Name=JMS
StartupWMClass=com.jim608.jms
Comment=A Simple Jellyfin Frontend built on top of Flutter.
Exec=jms
Icon=com.jim608.jms
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;
